.footer{
    padding: 80px 0;
    background: var(--azul-claro);
    color: #fff;
}
.footer-content{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.links-footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.item-link-footer{
    letter-spacing: 1.5px;
    color: var(--blanco-seter);
    text-decoration: none;
    text-transform: uppercase;
}
.item-link-footer:hover{
    font-weight: 700;
    color: #fff;
}

.extra-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.extra-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.social-media{
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.logos-media{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.logos-media .icon{
    fill: var(--azul-claro);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background: var(--blanco-seter);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.logos-media .icon:hover{
    fill: var(--blanco-seter);
    background-color: #1e2225;
}

.location-map{
    width: 50%;
}
.location-map iframe{
    width: 100%;
    height: 400px;
}
.location-map h3{
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}
.copyright{
    width: 100%;
    background: var(--negro);
    text-align: center;
    color: #fff;
    padding: 20px;
    letter-spacing: 3px;
    font-size: .9rem;
}
.copyright a{
    text-decoration: none;
    color: #fff;
}
.copyright a:hover{
    color: var(--azul-claro);
}

@media (max-width:1024px) {
    .footer-content{
        font-size: .9rem;
    }
}
@media (max-width:768px) {
    .footer-content{
        flex-wrap: wrap;
    }
    .links-footer{
        display: none;
    }
    .extra-info{
        width: 100%;
    }
    .extra-links{
        width: 100%;
        row-gap: 20px;
        font-size: .8rem;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .social-media p{
        display: none;
    }
    .social-media{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .extra-info hr{
        display: none;
    }
    .location-map{
        width: 100%;
    }
    .location-map iframe{
        height: 300px;
    }
}
@media (max-width:380px) {
    .extra-links{
        flex-direction: column;
    }
    .location-map iframe{
        height: 200px;
    }
}