.navMenu{
    width: 100%;
    background: var(--blanco-seter);
    color: var(--azul-oscuro);
    z-index: 10;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.navbar-logo{
    width: 150px;
}
.logo-menu{
    width: 100%;
}
.menu-icon {
    font-size: 30px;
    display: none;
    cursor: pointer;
    transition: .3s;
}

.menu-icon svg{
    color: var(--azul-oscuro);
}
.nav-container{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 80px;
}

.nav-items{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.item-menu{
    text-decoration: none;
    color: var(--azul-oscuro);
    position: relative;
    text-transform: uppercase;
}
.item-menu:hover{
    font-weight: 600;
}
.item-menu::after{
    content: '';
    width: 0;
    height: 4px;
    background: var(--azul-oscuro);
    left: 50%;
    bottom: -5px;
    position: absolute;
    transition: ease-in-out .3s ;
}
.item-menu.item-menu.active::after{
    left: 0;
    width: 100%;
}
.item-menu.active{
    font-weight: 700;
}

.language-menu{
    display: flex;
    gap: 5px;
}
.btnLan{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    gap: 5px;
    font-family: var(--primary-font);
    width: 60px;
    opacity: .5;
    border-radius: 50px;
}
.btnLan img{
    width: 20px;
    pointer-events: none;
}
.btnLan.active{
    opacity: 1;
    background:rgb(201, 201, 201);
}
.lan-responsive{
    display: none;
}
 

@media (max-width:1024px) {
    .item-menu{
        font-size: .9em;
    }
}

@media (max-width:768px) {
    .navbar-logo{
        width: 100px;
    }
    .navMenu{
        position: fixed;
    }
    .nav-container{
        gap: 0;
    }
    .navMenu .menu-icon{
        display: block;
    }
    .nav-items{
        top: 0;
        left: -100%;
        width: 100%;
        position: absolute;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content:center;
        background: var(--blanco-seter);
        gap: 40px;
        transition: all ease-in-out .3s;
        z-index: -1;
    }
    .nav-items.active{
        left: 0;
    }
    .nav-links{
        flex-direction: column;
        gap: 30px;
    }
    .language-menu{
        display: none;
    }
    .lan-responsive{
        display: flex;
    }
}

@media (max-width:400px) {
    .logo-menu{
        width: 80px;
    }
}